/* Amplify UI styles */
@import '@aws-amplify/ui-react/styles.css';


.docs-logo-link {
  color: black;
}

.docs-logo-link:hover {
  color: var(--amplify-colors-font-interactive);
}

.my-color-heading {
  color: var(--amplify-colors-brand-secondary-80);
}

.my-color-text {
  color: var(--amplify-colors-neutral-80)
}


.docs-logo-svg {
  height: var(--amplify-font-sizes-large);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  // because the logo is text in the SVG with descenders (p,y),
  // this is to make the baseline of the logo text line up
  top: 0.125rem;
}